{% extends 'admin_dashboard_navbar.html' %}
{% load static %}

{% block title %}
Add Doctor(admin)
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin_adddoctor.css' %}">
{% endblock %}

{% block content %}

<div  class="container custom-container" style="margin-top: 50px; "> 

<h2 class="text">ADD NEW DOCTOR</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <hr>
    <h4 class="heading">ACCOUNT INFORMATION</h4>
    {{ user_form.as_p }}
    
    <hr>
    
    <h4 class="heading">PROFESSIONAL INFORMATION</h4>
    {{ profile_form.as_p }}
    
    <button type="submit" class="btn ">Create Doctor Account</button>
</form>
<a href="/admindashboard/">Back to Dashboard</a>

{% endblock %}